.messageCreator {
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
  background-color: white;
  padding: 20px;

  button {
    background-color: rgb(76,104,239);
    border-radius: 1rem;
    border: none;
    box-shadow: 2px 2px 5px rgba(76,104,239, 0.7);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 2px 8px;
  }

  input {
    background-color: rgba(61,63,163, 0.1);
    border: 1px solid rgb(219, 221, 225);
    border-radius: 1rem;
    width: 75%;
  }

}