.convoContainer {
  height: 90vh;
  width: 15vw;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  // position: fixed;
  // right: 75px;
  background-color: white;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  overflow-y: scroll;
  h2 {
    text-align: center;
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(
      140deg,
      rgb(61, 62, 159) 50%,
      rgb(128, 138, 245) 100%
    );
    border-image-slice: 1;
    width: 80%;
    margin: 2rem auto 1rem auto;
    padding-bottom: 1rem;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    color: rgb(61, 62, 159);
  }

}

.convoContainer::-webkit-scrollbar {
  display: none;
}

