.convoContainer {
  height: 90vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 75px;
  background-color: white;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1);
  h1 {
    text-align: center;
  }
}
