.container {
  height: 100vh;
  width: 100vw;
  background-image: url('/chat.svg');
  background-color: #f8fafc;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  .title {
    position: absolute;
    left: 50px;
    top: 30px;
    font-family: 'Pacifico', cursive;
    color: rgb(61, 62, 159);
    // text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  }
}
